body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,

/* structural elements 结构元素 */

dl,
dt,
dd,
ul,
ol,
li,

/* list elements 列表元素 */

pre,

/* text formatting elements 文本格式元素 */

fieldset,
button,
input,
textarea,

/* form elements 表单元素 */

th,
td {
	/* table elements 表格元素 */
	margin: 0;
	padding: 0;
}

li {
	list-style: none;
}

body,
html {
	margin: 0;
	padding: 0;
	border: 0;
	height: 100%;
	width: 100%;
}
#view{
	/*overflow: hidden;*/
}

header {
	width: 100%;
	height: 70px;
	background-color: #232427;
	padding-top: 10px;
}

header .logo {
	background-image: url(../img/logo.png);
	width: 103px;
	height: 57px;
	margin-left: 150px;
}

.banner {
	width: 100%;
	height: 667px;
	background-image: url(../img/banner.png);
	background-position: center;
}

.banner .banner_container {
	width: 100%;
	height: 100%;
	margin: 0 auto;
	text-align: center;
	padding-top: 60px;
	position: relative;
}

.banner .banner_container span {
	font-family: "myfont";
	margin-top: 40px;
	display: block;
	color: #FFFFFF;
	font-size: 25px;
}
.banner .banner_container img {
	width: 50%;
	margin-top: 10%;
}

#download {
	
	transition: all .25s linear;
	opacity: 1;
}

#scan {
	transition: all .25s linear;
	opacity: 1;
	
}

#applogo {
	position: relative;
	bottom: 0px;
	width: 30%;
}

.content {
	background-color: #3397ff;
	font-family: "微软雅黑";
}

.content .detail {
	width: 100%;
	height: 460px;
}

.content .detail .container {
	width: 100%;
	height: 100%;
	margin: 0 auto;
	padding-top: 25px;
	position: relative;
}

.content .container img {
	width: 80%;
	position: relative;
	top: 40%;
	left: 50%;
	opacity: 1;
	display: block;
}

.content .detail .container .title {
	position: relative;
	top: 20%;
	width: 50%;
	left: 50%;
	opacity: 1;
	transition: all .8s linear;
	width: ;
}

.title_play {
	left: 0px;
	opacity: 1;
}

.content .container .declare {
	position: relative;
	left: 0;
	display: block;
	color: #FFFFFF;
	font-size: 22px;
	margin-top: 0;
	margin-left: 0;
	opacity: 1;
}

.content .container #declare_11 {
	transition: all .5s linear 0.25s;
}

.content .container #declare_12 {
	transition: all .5s linear 0.4s;
}

.content .container #declare_21 {
	transition: all .5s linear 0.25s;
}

.content .container #declare_22 {
	transition: all .5s linear 0.4s;
}

.content .container #declare_31 {
	transition: all .5s linear 0.25s;
}

.content .container #declare_32 {
	transition: all .5s linear 0.4s;
}


.content .container #img1 {
	transition: all .5s linear;
}

.content .container #img2 {
	transition: all .5s linear;
}

.content .container #img3 {
	transition: all .5s linear;
}

.content  #downloadpage {
	width: 100%;
	height: 360px;
}
.content  #downloadpage span{
	position: relative;
	top: 40px;
	font-size: 30px;
	color: #FFFFFF;
	display: block;
	width: 100%;
	text-align: center;
}

.content  #downloadpage .downloadcontainer{
	position: relative;	
	top: 90px;
}

.content  #downloadpage img{
	position: relative;
	width: 40%;
}
.content  #downloadpage #download {
	left: 40px;
}
.content  #downloadpage #scan {
	left: 50%;
	margin-left: -164.5px;
}
footer {
	font-family: "微软雅黑";
	width: 100%;
	height: 160px;
	background-color: #232427;
	color: #FFFFFF;
	font-size: 20px;
	position: relative;
}

footer .footer {
	width: 380px;
	text-align: center;
	position: absolute;
	bottom: 15px;
	left: 50%;
	margin-left: -190px;
}

@font-face {
	font-family: "myfont";
	src: url(../font/MicrosoftYaHei.ttf) format('truetype');
	font-weight: 100;
}