body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,

/* structural elements 结构元素 */

dl,
dt,
dd,
ul,
ol,
li,

/* list elements 列表元素 */

pre,

/* text formatting elements 文本格式元素 */

fieldset,
button,
input,
textarea,

/* form elements 表单元素 */

th,
td {
	/* table elements 表格元素 */
	margin: 0;
	padding: 0;
}

li {
	list-style: none;
}

body,
html {
	margin: 0;
	padding: 0;
	border: 0;
	height: 100%;
	width: 100%;
}
header{
	width: 100%;
	height: 70px;
	background-color: #232427;
	padding-top: 10px;
}
header .logo{
	background-image: url(../img/logo.png);
	width: 103px;
	height: 57px;
	margin-left: 150px;
}
.banner{
	width: 100%;
	height: 1000px;
	background-image: url(../img/banner.png);
	background-position: center;
}
.banner .banner_container{
	width: 730px;
	height: 850px;
	margin: 0 auto;
	text-align: center;
	padding-top: 60px;
	position: relative;
}
.banner .banner_container span{
	margin-top: 40px;
	display: block;
	color: #FFFFFF;
	font-size: 25px;
}
.banner .banner_container .download{
	overflow: hidden;
	margin-top: 30px;
}
.banner .banner_container  .left{
	float: left;
}
.banner .banner_container .right{
	float: right;
}
.banner .banner_container .xingcard{
	font-size: 120px;
}
.banner .banner_container .contacts{
	font-size: 30px;
	margin-top: 10px;
}
.banner .banner_container .contacts_detail{
	font-size: 25px;
	color: rgba(255,255,255,0.8);
}
.banner .banner_container .solution{
	font-size: 30px;		
	color: rgba(255,255,255,0.8);
}
#applogo{
	display: block;
	position: absolute;
	bottom: 0;
	left: 50%;
	margin-left: -67px;
}



.content{
	background-color: #3397ff;
	font-family: "微软雅黑";
}
.content .detail{
	width: 100%;
	height: 620px;
}
.content .detail .container{
	width: 700px;
	height: 595px;
	margin: 0 auto;
	padding-top: 25px;
	position: relative;
}
.content .detail .container .title{
	position: relative;
	left: -150px;
	opacity: 0;
	border-radius: 20px;
	display: block;
	text-align: center;
	line-height: 45px;
	width: 160px;
	height: 45px;
	font-size: 30px;
	background-color: #ffffff;
	color: #3397FF;
	transition: all 1s linear;
}
.title_play{
	left: 0px;
	opacity: 1;
}

.content .container .declare{
	position: relative;
	display: block;
	color: #FFFFFF;
	font-size: 22px;
	margin-top: 30px;
	margin-left: 30px;
}
.content .container img{
	position: absolute;
	top: 130px;
	left: 140px;
}
footer{
	font-family: "微软雅黑";
	width: 100%;
	height: 160px;
	background-color: #232427;
	color: #FFFFFF;
	font-size: 20px;
	position: relative;
}
footer .footer{
	width: 380px;
	text-align: center;
	position: absolute;
	bottom: 15px;
	left: 50%;
	margin-left: -190px;
}
